In [1]:
import pandas as pd
import numpy as np

df = pd.read_csv('data/choco.csv', sep=',')
df.head()

,Company \n(Maker-if known),Specific Bean Origin\nor Bar Name,REF,Review\nDate,Cocoa\nPercent,Company\nLocation,Rating,Bean\nType,Broad Bean\nOrigin
0,A. Morin,Agua Grande,1876,2016,63%,France,3.75,,Sao Tome
1,A. Morin,Kpime,1676,2015,70%,France,2.75,,Togo
2,A. Morin,Atsane,1676,2015,70%,France,3.00,,Togo
3,A. Morin,Akata,1680,2015,70%,France,3.50,,Togo
4,A. Morin,Quilla,1704,2015,70%,France,3.50,,Peru

In [2]:
encabezados = list(df.columns)
print(encabezados)

['Company\xa0\n(Maker-if known)', 'Specific Bean Origin\nor Bar Name', 'REF', 'Review\nDate', 'Cocoa\nPercent', 'Company\nLocation', 'Rating', 'Bean\nType', 'Broad Bean\nOrigin']

In [8]:
df.rename(columns={'Company\xa0\n(Maker-if known)':'company'}, inplace=True)
df.rename(columns={'Specific Bean Origin\nor Bar Name':'name-origin'}, inplace=True)
df.rename(columns={'REF':'ref'}, inplace=True)
df.rename(columns={'Review\nDate':'review'}, inplace=True)
df.rename(columns={'Cocoa\nPercent':'cacao'}, inplace=True)
df.rename(columns={'Company\nLocation':'location'}, inplace=True)
df.rename(columns={'Rating':'rating'}, inplace=True)
df.rename(columns={'Bean\nType':'bean'}, inplace=True)
df.rename(columns={'Broad Bean\nOrigin':'bean-origin'}, inplace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1795 entries, 0 to 1794
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   company      1795 non-null   object
 1   name-origin  1795 non-null   object
 2   ref          1795 non-null   int64
 3   review       1795 non-null   int64
 4   cacao        1795 non-null   object
 5   location     1795 non-null   object
 6   rating       1795 non-null   float64
 7   bean         1794 non-null   object
 8   bean-origin  1794 non-null   object
dtypes: float64(1), int64(2), object(6)
memory usage: 126.3+ KB

In [9]:
# Elimina el signo % y convertir la columna 'cacao' a formato numérico
df['porcentaje'] = df['cacao'].str.replace('%', '').astype(float)

# Define una función lambda para asignar valores
def assign_pur(cacao):
    if cacao < 60:
        return 'BAJO'
    elif cacao < 80:
        return 'INTERMEDIO'
    elif cacao < 100:
        return 'ALTO'
    else:
        return 'PURO'

# Aplica la función lambda a la columna 'cacao' y guarda el resultado en la nueva columna 'pur'
df['pur'] = df['porcentaje'].apply(lambda x: assign_pur(x))
df.head()

,company,name-origin,ref,review,cacao,location,rating,bean,bean-origin,porcentaje,pur
0,A. Morin,Agua Grande,1876,2016,63%,France,3.75,,Sao Tome,63.0,INTERMEDIO
1,A. Morin,Kpime,1676,2015,70%,France,2.75,,Togo,70.0,INTERMEDIO
2,A. Morin,Atsane,1676,2015,70%,France,3.00,,Togo,70.0,INTERMEDIO
3,A. Morin,Akata,1680,2015,70%,France,3.50,,Togo,70.0,INTERMEDIO
4,A. Morin,Quilla,1704,2015,70%,France,3.50,,Peru,70.0,INTERMEDIO

In [10]:
# Eliminar la columna 'porcentaje'
df.drop(columns=['porcentaje'], inplace=True)
# Definir función lambda para concatenar valores
df['res'] = df.apply(lambda x: f"{x['company']}&{x['pur']}&{x['rating']}&{x['location']}", axis=1)
df.nunique()

company         416
name-origin    1039
ref             440
review           12
cacao            45
location         60
rating           13
bean             41
bean-origin     100
pur               4
res            1127
dtype: int64